/* Encabezado */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Cambio en pantallas pequeñas */
  gap: 30px; /* Cambio en pantallas pequeñas */
  border-bottom: 1px solid #fff;
  padding: 31px 24px;
  width: 100%;
  position: fixed;
  background-color: #1d2128;
  height: 70px;
  z-index: 3;
}

/* Logo */
.logo-img {
  width: 138px;
}

/* Contenedor de texto del encabezado */
.header-text__container {
  width: fit-content;
}

/* Media query para dispositivos pequeños */
@media (max-width: 885px) {
  .header {
    /* Aquí se aplican los cambios anteriores */
  }
}
